:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-blue: hsl(216, 90%, 60%);
  --clr-gray: hsl(0, 0%, 49%);
  /* Typography */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* START PROJECT */

/* ARTICLE OFFERS */

.offers {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  text-align: center;
}

.offers__title {
  font-weight: var(--fw-semibold);
  font-size: 3rem;
}

.offers__selector {
  background-color: var(--clr-white);
  border-radius: 0.625rem;
}

.offers__btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-gray);
  border-radius: 0.625rem;
  border: none;
  padding: 1em;
  font-size: 1.125rem;
  transition: all 0.3s ease-in;
}

.offers__btn:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.offers__btn--active {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.offers__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.offer-card {
  border-radius: 3.125rem;
  padding: .5rem;
}

.offer-card__header {
  display: flex;
  align-items: center;
}

.offer-card__image {
  border-radius: 3.125rem;
}

/* ARTICLE ABOUT */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 4rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

/* About Image */

.about__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image {
  object-fit: cover;
  width: 480px;
  height: 800px;
  border-radius: 4.7rem;
}

/* Over Cards */

.about__cards {
  width: 180px;
  height: 120px;
  background-color: var(--clr-white);
  border-radius: 2.25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about__numbers {
  color: var(--clr-blue);
  font-weight: var(--fw-semibold);
  font-size: 2.25rem;
  margin: 0;
}

.about__text {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.about__cards--destination {
  top: 2rem;
  right: -6rem;
}

.about__cards--tourists {
  left: -6rem;
}

.about__cards--hotels {
  bottom: 4rem;
  right: -6rem;
}

/* About Description */

.about__title {
  font-weight: var(--fw-semibold);
  font-size: 3rem;
}

.about__parragraph {
  font-weight: var(--fw-regular);
  font-size: 1.125rem;
  line-height: 3rem;
  opacity: 75%;
}

.contact-us {
  color: var(--clr-white);
  background-color: var(--clr-blue);
  margin-top: 2rem;
  padding: 1em 2em;
  font-size: 1.125rem;
  border-radius: 0.625rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.contact-us:hover {
  opacity: 75%;
}
